{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}
<div class="page-header " filter-color="orange">
    <div class="page-header-image" style="background-image:url('static/assets/img/ttten.svg')"></div>
    <div class="content">
      <div class="container">
        <div class="col-md-4 ml-auto mr-auto">
          <div class="card card-login card-plain">
            <form class="form" method="" action="">
              <div class="card-header text-center">
                <!-- <div class="logo-container">
                  <img src="../assets/img/now-logo.png" alt="">
                </div> -->
              </div>
              <div class="card-body">
                <br>
                <br>
                <br>
                <div class="input-group no-border input-lg" style="visibility: hidden;">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="now-ui-icons users_circle-08"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="First Name...">
                </div>
                <div class="input-group no-border input-lg" style="visibility: hidden;">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="now-ui-icons text_caps-small"></i>
                    </span>
                  </div>
                  <input type="text" placeholder="Last Name..." class="form-control" />
                </div>
              </div>
              <div class="card-footer text-center">
                <h2>Message sent successfully.</h2>
                <a href="{% url 'home' %}" class="btn btn-success btn-round btn-lg btn-block">Go back</a>
                <div class="pull-left">
               
                </div>
                
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}